/* Header */
.st-emotion-cache-18ni7ap{
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ee515f;
  }
  
  li {
    float: left;
  }
  
  li h1 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li h1:hover {
    background-color: linear-gradient(180deg,#ee515f, #9c0c58);
}

.st-emotion-cache-1wrcr25 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: absolute;
    inset: 0px;
    position: absolute;
    background: linear-gradient(180deg,#ee515f, #9c0c58);
    overflow: hidden;
}