/* Header */
.st-emotion-cache-18ni7ap{
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg,#ee515f, #9c0c58);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background: linear-gradient(180deg,#ee515f, #9c0c58);
  }

  .logo1 img{
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
  }

  .logo2 img {
    align-items: center;
    width: 8rem;
    height: 4.5rem;
  }

.st-emotion-cache-1wrcr25 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: absolute;
    inset: 0px;
    position: absolute;
    background: #E7E8F4;
    overflow: hidden;
}